<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">OpenAxis</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/live">
            <i class="material-icons openaxis-icons">live_tv</i>
            <span>Live</span>
        </a>
        <a class="mdl-navigation__link" href="/events">
            <i class="material-icons openaxis-icons">event</i>
            <span>Events</span>
        </a>
        <a class="mdl-navigation__link" href="/archive">
            <i class="material-icons openaxis-icons">archive</i>
            <span>Archive</span>
        </a>
        <div class="openaxis-separator--drawer"></div>
        <a class="mdl-navigation__link" href="#">
            <i class="material-icons openaxis-icons">exit_to_app</i>
            <span class="mdl-typography--font-bold">Logout</span>
        </a>
    </nav>
</div>