<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">OpenAxis</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/live">
            <i class="material-icons openaxis-icons">live_tv</i>
            <span>Live</span>
        </a>
        <a class="mdl-navigation__link" href="/events">
            <i class="material-icons openaxis-icons">event</i>
            <span>Events</span>
        </a>
        <a class="mdl-navigation__link" href="/archive">
            <i class="material-icons openaxis-icons">archive</i>
            <span>Archive</span>
        </a>
        <hr>
        <a class="mdl-navigation__link" href="/settings">
            <i class="material-icons openaxis-icons">build</i>
            <span>Settings</span>
        </a>
        {{#if user}}
        <a class="mdl-navigation__link" href="/logout">
            <i class="material-icons openaxis-icons">do_not_disturb_on</i>
            <span class="mdl-typography--font-bold">Sign out</span>
        </a>
        {{else}}
        <a class="mdl-navigation__link" href="/login">
            <i class="material-icons openaxis-icons">exit_to_app</i>
            <span class="mdl-typography--font-bold">Sign in</span>
        </a>
        {{/if}}
    </nav>
</div>