<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <a href="#top">
            <button class="openaxis-fab--top mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect
                        mdl-button--colored">
                <i class="material-icons">arrow_upward</i>
            </button>
        </a>
        <div class="mdl-logo">OpenAxis</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="https://raw.githubusercontent.com/lukeribchester/OpenAxis/master/LICENSE.md">
                Licensed under the MIT License.
            </a></li>
            <li><a href="https://www.github.com/lukeribchester/openaxis">Github</a></li>
        </ul>
    </div>
</footer>