<header class="mdl-layout__header is-casting-shadow">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">OpenAxis</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/live">Live</a>
            <a class="mdl-navigation__link" href="/events">Events</a>
            <a class="mdl-navigation__link" href="/archive">Archive</a>
        </nav>
    </div>
</header>