<main class="mdl-layout__content">
    <div class="openaxis-content">
        <h1 class="mdl-typography--display-2 mdl-typography--font-light">
            {{error.status}} {{message}}
        </h1>
        <h2 class="mdl-typography--title mdl-typography--font-light">
            Something went wrong. Please report issues to the
            <a style="text-decoration: none"
               href="https://github.com/lukeribchester/openaxis/issues">issue tracker</a>.
        </h2>
        <hr>
        <pre style="text-align: left">{{error.stack}}</pre>
    </div>
</main>