/* OpenAxis */

body {
    background-color: rgb(250, 250, 250);
}

/* Drawer */
.openaxis-icons {
    margin-right: 12px;
    vertical-align:top;
}
.openaxis-separator--drawer {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

/* Main */
main {
    margin: 32px 16px;
}
.openaxis-container {
    max-width: 1044px;
    margin: 0 auto;
    text-align: center;
}
.openaxis-content {
    margin: 32px 0 128px 0;
}
.openaxis-camera__image img {
    border: 1px solid rgb(66, 66, 66);
}
.openaxis-camera__image--overview img {
    width: 49%;
}
.openaxis-camera__image--single img {
    width: 98%;
}
/* Stream */
/* Table */

/* Footer */
footer {
    margin: 0;
}
footer button {
    display: block;
}
.openaxis-fab--top {
    position: absolute;
    left: 50%;
    margin: -64px 0 0 -25px;
    z-index: 3;
}

/* Noscript */
.noscript {
    background-color: #B71C1C;
}
.noscript-notice {
    color: #f3f3f3;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}