/* OpenAxis */

body {
    background-color: rgb(247,247,247);
}

/* Drawer */
.openaxis-icons {
    margin-right: 12px;
    vertical-align:top;
}
.openaxis-separator--drawer {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

/* Main */
.openaxis-content {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 0 32px 0;
    text-align: center;
}

/* Live */
.openaxis-camera__image {
    background-color: rgb(240,240,240);
    border: 1px solid rgb(66, 66, 66);
}

/* Tabs */
.openaxis__tabs-tab-bar--double {
    height: 72px;
}
.openaxis__tabs-tab--double {
    height: 72px;
}
.openaxis__tabs-tab--double span {
    display: block;
    font-size: 12px;
    line-height: 6px;
}

/* Table */

/* Form */
.openaxis-forms__login {
    margin: 0 auto;
    background-color: #fff;
}
.openaxis-forms__login #signIn {
    width: 100%;
    font-size: 13px;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgb(96,125,139);
}
.openaxis-forms__input {
    display: block;
    margin: 0 auto;
}

/* Footer */
footer {
    margin: 0;
    z-index: 99;
}
footer button {
    display: block;
}
.openaxis-fab--top {
    position: absolute;
    left: 50%;
    margin: -64px 0 0 -25px;
    z-index: 3;
}

/* Noscript */
.noscript {
    background-color: #B71C1C;
}
.noscript-notice {
    color: #f3f3f3;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

/* Miscellaneous */
::selection {
    color: rgb(247,247,247);
    background-color: rgb(96,125,139);
}