<main class="mdl-layout__content">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#overview-panel" class="mdl-tabs__tab is-active">Overview</a>
            <a href="#frontcamera-panel" class="mdl-tabs__tab">Front</a>
            <a href="#rearcamera-panel" class="mdl-tabs__tab">Rear</a>
        </div>
        <div class="mdl-tabs__panel openaxis-content is-active" id="overview-panel">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp" style="height: 360px;">
                    <img id="openaxis-frontcamera-overview" src="" style="width: 100%; overflow: hidden;">
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp" style="height: 360px;">
                    <img id="openaxis-rearcamera-overview" src="" style="width: 100%; overflow: hidden;">
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel openaxis-content" id="frontcamera-panel">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" style="height: 640px;">
                    <img id="openaxis-frontcamera" src="" style="width: 100%; overflow: hidden;">
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel openaxis-content" id="rearcamera-panel">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" style="height: 640px;">
                    <img id="openaxis-rearcamera" src="" style="width: 100%; overflow: hidden;">
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/public/javascripts/load_image.js"></script>