<main class="mdl-layout__content">
    <div class="openaxis-content">
        <h1 class="mdl-typography--display-2 mdl-typography--font-light">
            Settings
        </h1>
        <h2 class="mdl-typography--headline mdl-typography--font-light">
            Configure cameras and video archive settings.
        </h2>

        <form style="text-align: left">
            <h3 class="mdl-typography--display-1 mdl-typography--font-light">Cameras</h3>
            <ul>
                <li>Camera addresses</li>
                <li>File format</li>
                <li>File datetime naming convention</li>
                <li>Overview tabs: addresses</li>
                <li>Single view tabs: addresses</li>
            </ul>
        </form>

        <form style="text-align: left">
            <h3 class="mdl-typography--display-1 mdl-typography--font-light">Storage</h3>
            <ul>
                <li>Storage device path/Network share</li>
            </ul>
        </form>

        <form style="text-align: left">
            <h3 class="mdl-typography--display-1 mdl-typography--font-light">Events</h3>
            <ul>
                <li>Configure retrieval of events over HTTP</li>
            </ul>
        </form>
    </div>
</main>